.article-page {
    margin-top: 64px;
}

.article-title > h2 {
    font-size: 39.1px;
  padding: 12px 24px;
}

.article-container {
    margin: 0 64px;
    background-color: #f9f9f9;
    padding: 16px 32px;
}

.article-image-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.article-img {
    max-width: 720px;
    width: 100%;
    max-height: 480px;
    height: 100%;

}

.article-img > img {
    width: 100%;
    object-fit: cover;
}

.article-text {
   text-align: justify;
   margin-bottom: 32px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-btn {
    font-size: 25px;
    padding: 8px 16px;
    color: #2C2E3D;
background-color: #BEEEFC;
border: 1px solid #BEEEFC;
border-radius: 4px;
transition: 0.3s ease-in-out;
cursor: pointer;
}

.home-btn:hover {
    background-color: #7795AF;
    border: 1px solid #7795AF;
    color: #f9f9f9;
      transition: 0.3s ease-in-out;
}

@media (max-width: 430px) {
    .article-title > h2 {
      text-align: center;
    }
    
    .article-container {
        margin: 0 16px;
        background-color: #f9f9f9;
        padding: 4px 8px;
    }
    
    
}